---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignOperands: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
---

